* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

::-webkit-scrollbar {
	width: 9px;
}
::-webkit-scrollbar-track {
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background-color: #242625;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #878e8c;
}

.padding {
	padding: 50px calc(50% - 500px);
}

.d-f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.fd-c {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.ai-c {
	-ms-align-items: center;
	align-items: center;
}
.jc-c {
	justify-content: center;
}
.jc-fe {
	justify-content: flex-end;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background: linear-gradient(rgba(224, 235, 232, .2), rgba(224, 235, 232, .1));
	justify-content: flex-end;
	transition: 0.5s;
}
.header__white {
	background: transparent;
	transition: 0.9s;
}
.navbar__link {
	font-size: 20px;
	display: inline-block;
	margin-right: 45px;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	color: #fff;
}

#welcome {
	justify-content: space-around;
	height: 90vh;
	margin-top: 10vh;
	background: linear-gradient(rgba(224, 235, 232, .1),rgba(224, 235, 232, .5), rgba(224, 235, 232, .7), rgba(224, 235, 232, .4), rgba(224, 235, 232, .0));
}

.welcome__photo{
	height: 85%;
	width: fit-content;
}

.welcome__photo img {
	object-fit: contain;
	height: 100%;
}

.welcome__title h1 {
	font-size: 27px;
	text-shadow: 1px 0px 8px rgba(0, 0, 0, 1);
}

.welcome__title p {
	font-size: 20px;
	text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
}

#content {
	width: 100%;
}
h2 {
	margin-bottom: 80px;
	color: #008080;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
}
.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	justify-items: center;
}
.projects__project {
	width: 300px;
	text-decoration: none;
	color: #04bdbd;
	border: 2px solid #5dcdc6;
}
.projects__project img {
	width: 100%;
	height: 170px;
	border-bottom: 2px solid #5dcdc6;
	object-fit: contain;
}
.projects__project p {
	padding: 10px 0;
	font-weight: 600;
}
.projects__btn {
	display: block;
	text-decoration: none;
	font-weight: bold;
	background-color: #e0ebe8;
	width: 200px;
	margin: 60px auto 0;
	padding: 7px 0;
	border-radius: 5px;
	border: 2px solid #90c695;
	color: #008080;
	transition: 0.3s;
}
.projects__btn:hover {
	background-color: #90c695;
	color: #e0ebe8;
	border: 2px solid #008080;
}

footer {
	justify-content: space-around;
	margin: -10px auto;
	padding: 30px calc(50% - 500px);
}
.footer__link {
	position: relative;
	color: #008080;
	margin: auto 10px;
	transition: 0.3s;
	text-decoration: none;
}
.footer__link:after {
	content: '';
	position: absolute;
	bottom: 0;
	background-color: #fff;
	width: 100%;
	left: 0;
	height: 2px;
	transform: scaleX(0);
	transition: 0.5s;
}
.footer__link:hover {
	color: #fff;
}
.footer__link:hover:after {
	transform: scaleX(1);
}
.footer__link:active:after {
	transform: scaleX(0.8);
}
@media (max-width: 1080px) {
	.padding {
		padding: 40px calc(50% - 400px);
	}
	footer {
		padding: 30px calc(50% - 400px);
	}
}
@media (max-width: 880px) {
	.padding {
		padding: 30px calc(50% - 250px);
	}
	header {
		justify-content: center;
	}
	.navbar__link {
		margin: auto 15px;
	}
	#welcome {
		flex-direction: column;
	}
	.projects__project {
		display: block;
		width: 280px;
		height: 220px;
	}
	footer {
		padding: 30px calc(50% - 250px);
	}
}
@media (max-width: 560px) {
	.padding {
		padding: 20px 15px;
	}
	.navbar__link {
		margin: auto 10px;
		font-size: 18px;
	}
	.welcome__photo {
		width: 100%;
	}
	.welcome__photo img {
		width: 100%;
	}
	footer {
		flex-direction: column;
		align-items: center;
		padding: 20px 15px;
	}
	.footer__link {
		margin: 5px 0;
	}
}